<div class="main-container">
  <mat-sidenav-container class="uxg-nav">
    <mat-sidenav #sidenav mode="over" fixedInViewport="true" [autoFocus]="false">
      <div class="uxg-nav-header">
        <mat-card class="uxg-card-product" extra-dense routerLink="/">
          <span class="uxg-h5 uxg-card-product-name">DS</span>
        </mat-card>
        <h6 class="uxg-h6">ARRO - Hack2020</h6>
      </div>
      <mat-nav-list class="uxg-nav-list" (click)="sidenav.toggle()" dense>
        <ng-container *ngFor="let nestedRoute of nestedRoutes">
          <h3 mat-subheader>{{ nestedRoute.title }}</h3>
          <ng-container *ngFor="let route of nestedRoute.routes">
            <a mat-list-item [routerLink]="route.path" routerLinkActive="uxg-list-item-selected">
              <p>{{ route.data?.title }}</p>
            </a>
          </ng-container>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar class="uxg-toolbar uxg-toolbar-elevated">
  
        <div class="uxg-toolbar-logo-small"><img src="assets/arro-logo.png" width="60" height="50"/></div>
        <ul class="uxg-breadcrumb">
          
          <li class="uxg-h5"><a routerLink="/">ARRO - Hack2020</a></li>
          <li class="uxg-h6" color = "blue" *ngIf="title">{{ title }}</li>
        </ul>
        <span class="fill-remaining-space"></span>
        
        <button mat-stroked-button color="$colorbutton" value ="ARR_Standalone" routerLink="/origination">
          <mat-icon>person_add</mat-icon>
          Origination
        </button>
        <button mat-stroked-button color="$colorbutton" value ="Libor_Transformation" routerLink="/client">
          <mat-icon>how_to_reg</mat-icon>
          Renegociation
        </button>
        <button mat-stroked-button color="$colorbutton" value ="Rates_comparison" routerLink="/rate">
          <mat-icon>insights</mat-icon>
          Rates comparison
        </button>

        <div class="uxg-toolbar-actions">
          <button mat-icon-button color="neutral" routerLink="/">
              <mat-icon>home</mat-icon>
          </button>
          <button mat-icon-button color="neutral">
              <mat-icon>notifications</mat-icon>
          </button>
          <button mat-icon-button color="neutral">
              <mat-icon>help_outline</mat-icon>
          </button>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menuHero" color="gradient">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button class="uxg-toolbar-icon-menu">
            <mat-icon>more_vert</mat-icon>
        </button>
      </mat-toolbar>
      <mat-menu #menuHero="matMenu" class="uxg-user-profile">
        <div class="uxg-menu-header">
          <div class="uxg-avatar-hero-block">
            <div class="uxg-avatar" large>fddddfdf</div>
            <h6 class="uxg-h6">sfhdbsfhjsdb</h6>
            <span class="uxg-caption">jshfjskfh</span>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="uxg-menu-footer">
          <button mat-flat-button color="primary" dense >
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
          <button mat-button color="primary" dense>
            View profile
          </button>
        </div>
      </mat-menu>      
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
      <uxg-scroll-to-top parentElementSelector="mat-sidenav-content" [showAfter]="100"></uxg-scroll-to-top>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
