<div class='page-container'>
<div class="client-container"> 
	<div class="containerrow  filterbar  myspacing elevated-block mat-elevation-z2 ">
		 <mat-list class=" ">
		<mat-list-item>
		  <mat-form-field>
			<mat-label>Portfolio</mat-label>
			<mat-select name="contractType" [(ngModel)]="contractType" (selectionChange)="portfolioChange($event)">
			  <mat-option *ngFor="let c of contractTypes" [value]="c">
				{{ c }}
			  </mat-option>
			</mat-select>
		</mat-form-field>
		</mat-list-item>
	</mat-list>
		<b *ngIf="deals.length==0" >Select a portfolio to transform deals</b>
		<div *ngIf="deals.length >0" class="headerExpo" >

		
			<span>Total Exposure: </span>
			<b>£ {{exposure | number:'4.0-5'}}</b>
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#Deals: </span>
			<b>{{deals.length }}</b>
			
		</div>
	</div>
  
  <!-- <div>
	<div class="custom-slider margin10px">
		<ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" ></ngx-slider>
	</div>
  </div> -->
  <p>  </p>
  

  <div class="myspacing " *ngIf="dataSource">

    <mat-tab-group #tabGroup>
      <mat-tab label="Deals">
		  <div class="containerrow">
		<div class="tableview">
			<table class="dealtable" mat-table [dataSource]="dataSource" matSort>
			  <ng-container matColumnDef="contractref">
				<th mat-header-cell *matHeaderCellDef mat-sort-header class="headerdeals"><p class="headerdeals">Deal ID</p> </th>
				<td mat-cell *matCellDef="let row"><p class="celldeals"><b> {{row.contractref}}</b> </p></td>
			  </ng-container>
			  <ng-container matColumnDef="balance">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> <p class="headerdeals">Balance</p></th>
				<td mat-cell class="celldealscenter" *matCellDef="let row"><p class="celldeals">{{row.currencysym}}  {{row.balance | number:'4.0-0' }}</p> </td>
			  </ng-container>
			  <ng-container matColumnDef="origindate">
				<th mat-header-cell *matHeaderCellDef mat-sort-header><p class="headerdeals">Origin Date</p></th>
				<td mat-cell *matCellDef="let row"> <p class="celldeals">{{row.origindate}}</p> </td>
			  </ng-container>
			  <ng-container matColumnDef="maturitydate">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> <p class="headerdeals">Maturity </p></th>
				<td mat-cell *matCellDef="let row"><p class="celldeals">{{row.maturitydate | number:'1.0-0'}} days </p></td>
			  </ng-container>
			  <ng-container matColumnDef="interestrateindex">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> <p class="headerdeals">Interest Rate Curve</p></th>
				<td mat-cell *matCellDef="let row"> <p class="celldeals">{{row.interestrateindex}} </p></td>
			  </ng-container>
			  <ng-container matColumnDef="clientratespread">
				<th mat-header-cell *matHeaderCellDef mat-sort-header><p class="headerdeals"> Client Rate Spread</p> </th>
				<td mat-cell class="celldealscenter" *matCellDef="let row"> <p class="celldeals">{{row.clientratespread | number:'1.2-2'}}%</p></td>
			  </ng-container>
			  <ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> <p class="headerdeals">Client</p> </th>
				<td mat-cell *matCellDef="let row"> <a class="celldeals" [routerLink]="" (mouseover)="showClient(row.clientRef)" (mouseout)="customer=undefined" (click)="showClient(row.clientRef)">{{row.name}}</a>
					
				</td>
			  </ng-container>	  
			  <ng-container matColumnDef="status">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> <p class="headerdeals">Value</p>  </th>
				<td mat-cell class="celldealscenter" *matCellDef="let row"> <mat-spinner *ngIf="row.status"  diameter="18">
					
				</mat-spinner><p *ngIf="row.NPV" class="celldeals">{{row.currencysym}} {{row.NPV| number:'4.0-0'}}</p>
				</td>
			  </ng-container>	
			  <ng-container matColumnDef="detail">
				<th mat-header-cell *matHeaderCellDef mat-sort-header></th>
				<td mat-cell *matCellDef="let row">           
					<button [disabled]="row.NPV==undefined" mat-flat-button color="primary" dense (click)="viewContract(row.index)">
					<mat-icon>bar_chart</mat-icon>
					View Deal
				  </button>
				</td>
			  </ng-container>	

			  
			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		
		<!-- 
			  <tr class="mat-row" *matNoDataRow>
				<td class="mat-cell" colspan="7">No data matching the filter "{{input.value}}"</td>
			  </tr> -->
		
			</table> 
		</div>
		<div class="client-card"> <arro-client-card *ngIf="customer" [client]="customer" ></arro-client-card></div>
	</div>
      </mat-tab>
	  <ng-container *ngFor="let tab of tabs; let index = index">
		<mat-tab >
			<ng-template mat-tab-label>
				<div class="col" style="margin-left: 20px;">{{tab.name}}</div>
				<!-- <button style="color:black" mat-icon-button (click)="closeTab(index+1)"> 
        <mat-icon>close</mat-icon>
      </button>-->
    </ng-template>
	<arro-dealrenego [originalDeal]="tab.deal.computedDeal"></arro-dealrenego>
    
  </mat-tab>
  
  </ng-container>

  
    </mat-tab-group>
  </div>


 

 
	

	
	
	  

  
  </div>
</div>