

<div class="wrapper">
    <uxg-popover #popover [popoverContent]="popoverContent" popoverClass="popover">
      <button mat-stroked-button color="accent">Click me to see a popover</button>
    </uxg-popover>
  </div>
  
  <ng-template #popoverContent>
    <div class="uxg-display">
     
        <button mat-stroked-button type="button" (click)="uxgGlobalSearch.openSearch()" color="accent" large>
          <mat-icon>search</mat-icon>&nbsp;Search
        </button>
      </uxg-global-search>
      
      <ng-template #tmpl let-result>
        <mat-card class="mat-elevation-z3" dense>
          <mat-card-title>{{ result.nickname }}</mat-card-title>
          <mat-card-subtitle>{{ result.balances[0].amount }} {{ result.accountType }}</mat-card-subtitle>
        </mat-card>
      </ng-template>
    </div>
  </ng-template>
  
	

