<div class = "containerrow">
    <div class = "containerrow">
            <mat-icon  class="iconHeader">account_circle</mat-icon> 
        </div>
        <div class = "containerrow">
            <h2 class= "header">{{client.first_name}} {{client.last_name}}</h2>

        </div>
        <div class = "containerrow item">
    <mat-icon aria-hidden="false">place</mat-icon> </div>
    <div class = "containerrow">
    {{client.address}} - <b>{{client.city}}</b></div>
    <div class = "containerrow item">

        

    <span class ="flag-icon flag-icon-gb"></span></div>
    <div class = "containerrow">
    <span>{{client.country}}</span></div>
    <div class = "containerrow item">

  <mat-icon aria-hidden="false">contact_phone</mat-icon></div>
  <div class = "containerrow">
    <span class="label">1234-5678</span></div>
    <div class = "containerrow item">
<mat-icon aria-hidden="false">contact_mail</mat-icon></div>
<div class = "containerrow">
    <span class="label"><a href="">{{client.email}}</a></span></div>

</div>