
        <div class = "containerrow">
            <div> 
                <mat-icon aria-hidden="false" class="iconHeader">account_circle</mat-icon> 
            </div>    
            <div>
                <h2 class= "header">{{client.first_name}} {{client.last_name}}</h2>
            </div> 
        </div>
    
    <div class = "containerrow">
        <div><mat-icon aria-hidden="false">place</mat-icon> </div> 
        <div>{{client.address}} - <b>{{client.city}}</b></div>
    </div>
    <div class = "containerrow">
        <div><span class ="flag-icon flag-icon-gb"></span></div>
        <div class="label">{{client.country}}</div>
    </div>
    <div class = "containerrow">
        <div><mat-icon aria-hidden="false">contact_phone</mat-icon> </div> 
        <div class="label">1234-5678</div>
    </div>
    <div class = "containerrow">
        <div><mat-icon aria-hidden="false">contact_mail</mat-icon> </div> 
        <div class="label">{{client.email}}</div>
    </div>
