<body>
    <div class="containerrow">
        <table class = "ARRform elevated-block mat-elevation-z2">
                <thead class = "title">
                    <tr>
                            <span class ="flag-icon {{getFlag()}}"></span>
                            <label>{{ARRindex}}</label>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <mat-button-toggle-group [(ngModel)]="currency" (click)="getCurrency()">
                            <mat-button-toggle value="GBP">GBP</mat-button-toggle>
                            <mat-button-toggle value="EUR">EUR</mat-button-toggle>
                            <mat-button-toggle value="USD">USD</mat-button-toggle>
                            <mat-button-toggle value="CHF">CHF</mat-button-toggle>
                            <mat-button-toggle value="JPY">JPY</mat-button-toggle>
                        </mat-button-toggle-group>   
                    </tr>
                    <tr class="slider-label">
                        <label>Principal</label>
                    </tr>  
                    <tr>
                        <div class="custom-slider">
                            <ngx-slider [options]="opt_principal" [(ngModel)]="principal" (click)="Compute()"></ngx-slider>
                        </div>
                    </tr>
                    <tr class="slider-label">
                        <label>Maturity</label>
                    </tr>  
                    <tr>
                        <div class="custom-slider">
                            <ngx-slider [options]="opt_maturity" (click)="Compute()"></ngx-slider>
                        </div>
                    </tr>
                    <tr class="slider-label">
                        <label>Spread</label>
                    </tr>  
                    <tr>
                        <div class="custom-slider">
                            <ngx-slider [options]="opt_spread" (click)="Compute()"></ngx-slider>
                        </div>
                    </tr>
                    <tr class="slider-label">
                        <label>Periodicity</label>
                    </tr>  
                    <tr>
                        <div class="custom-slider">
                            <ngx-slider [options]="opt_periodicity" (click)="Compute()"></ngx-slider>
                        </div>
                    </tr> 
                    <tr class="slider-label">
                        <label>LookBack</label>
                    </tr>  
                    <tr>
                        <div class="custom-slider">
                            <ngx-slider [options]="opt_ARR" [(ngModel)]="lookback" (click)="Compute()"></ngx-slider>
                        </div>
                    </tr>
                    <tr class="slider-label">
                        <label>Lockout</label>
                    </tr>  
                    <tr>
                        <div class="custom-slider margin10px">
                            <ngx-slider [options]="opt_ARR" [(ngModel)]="lockout" (click)="Compute()"></ngx-slider>
                        </div>
                    </tr> 
                    <tr>
                        <mat-button-toggle-group [(ngModel)]="interestMethod" (click)="Compute()">
                            <mat-button-toggle value="RFRAVRSimple">Simple</mat-button-toggle>
                            <mat-button-toggle value="RFRAVRCompounding">Compounding</mat-button-toggle>
                        </mat-button-toggle-group>  
                    </tr>   
                    <tr>
                            <mat-button-toggle-group [(ngModel)]="basis" (click)="Compute()">
                                <mat-button-toggle value="Exact/365">365</mat-button-toggle>
                                <mat-button-toggle value="Exact/360">360</mat-button-toggle>
                                <mat-button-toggle value="Exact/Exact">ACT</mat-button-toggle>
                            </mat-button-toggle-group>    
                    </tr>                       
                </tbody>
        </table>
        <mat-card class = "card1 elevated-block mat-elevation-z2">  
<!--             <mat-card-header>
                <mat-card-title></mat-card-title>
            </mat-card-header>  -->
            <mat-card-content>
                <div class="flex-column">
                    <div class="spread">
                      <span>SPREAD</span>
                      <span>{{clientRateSpread}} % </span>
                    </div>
                    <div class="FTP">
                        <span>FTP</span>
                        <span>{{FTP}}%</span>
                    </div>
                    <div class="value">
                        <span>VALUE</span>
                        <span>{{NPV}}</span>
                    </div>
                    <div class="outlook" *ngIf="showStatus">
                      <img src="{{weatherImage}}" alt="HTML5 Icon" style="width:100px;height:100px;"/>
                      <span>{{margin}}%</span>
                    </div>

                </div>    
            </mat-card-content>
<!--             <mat-card-actions>
                <button mat-button>ADJUST</button>
                <button mat-button>CLEAR</button>
            </mat-card-actions> -->
        </mat-card>       
        <mat-card class = "card2 elevated-block mat-elevation-z2">  
            <!--             <mat-card-header>
                            <mat-card-title></mat-card-title>
                        </mat-card-header>  -->
        <mat-card-content>
            <div class="flex-column">
                <div class="spread">
                    <span>SPREAD</span>
                    <span>{{clientRateSpread}}% </span>
                </div>
                <div class="FTP">
                    <span>FTP</span>
                    <span>{{FTP}}%</span>
                </div>
                <div class="value">
                    <span>VALUE</span>
                    <span>{{NPV}}</span>
                </div>
                <div class="outlook" *ngIf="showStatus">
                    <img src="{{weatherImage}}" alt="HTML5 Icon" style="width:100px;height:100px;"/>
                    <span>{{margin}}%</span>
                </div>

            </div>    
                </mat-card-content>
            <!--             <mat-card-actions>
                            <button mat-button>ADJUST</button>
                            <button mat-button>CLEAR</button>
                        </mat-card-actions> -->
         </mat-card>
        
        <div class="graph elevated-block mat-elevation-z2">
            <mat-tab-group>
                <mat-tab label="Graph">
                    <div class="containerrow">
                        <div fxFlex>
                            <plotly-plot fxFlex [style] = "style" [useResizeHandler]="true" [data]="IPData"
                            [config]="config" [layout]="layoutInt">
                            </plotly-plot>
                        </div> 
                      <!--  <div fxFlex>
                            <plotly-plot fxFlex [style] = "style" [useResizeHandler]="true" [data]="OPData"
                            [config]="config" [layout]="layoutOP">
                            </plotly-plot>
                        </div> -->
                    </div>
                </mat-tab>
                <div>
                    <mat-tab label="Table">  
                        <div>
                            <table mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                                    <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                                </ng-container>
                                <ng-container matColumnDef="op">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Outstanding </th>
                                    <td mat-cell *matCellDef="let row"> {{row.op}} </td>
                                </ng-container>
                                <ng-container matColumnDef="pp">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Principal </th>
                                    <td mat-cell *matCellDef="let row"> {{row.pp}} </td>
                                </ng-container>
                                <ng-container matColumnDef="ip">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Interest </th>
                                    <td mat-cell *matCellDef="let row"> {{row.ip}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="7">No data matching the filter "{{input.value}}"
                                    </td>
                                </tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
                        </div> 
                            
                    </mat-tab>
                </div>  
            </mat-tab-group>
		</div>
    </div>
</body>