
//body {
  //background-image: url("Background_image1.png");
 // background-color: $lightGrey;
//}
$tesxtcolor: white;
$flashyGreen: #ae296d;
$lightGrey:#D0D1D3;
$darkGrey: #898D90;
$darkBlue: #eb823d;
$flashyRed:#DD1C1A;


.filterbar{
  background-color: #FAFAFA;
  height: 70px;
  align-items: center;
}

.page-container
{
  width: 100%;
  height: 100%;
  background-size: 200% 200%;
  background: linear-gradient(45deg, #eb823dc0, #c85a51c0, #ae296dc0);

  animation: Gradient 10s ease infinite;
}

.client-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  
 
}

.switchMode{
  margin: 5px;
  align-items: flex-end;
  align-content: flex-end;
}

.ResTable{
 
  margin-left: 10px;
  padding: 0px;
  font-size: 25px;
  text-align:center;
  //border-style: solid;
 // border-color: $flashyGreen;

  width: 300px;

 
  border-spacing : 0px;
}
.cellviolet{
  
  background-color: #ae296d ;
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.cellorange{
  color: white;
  background-color: #eb823d ;
  padding: 10px;
}

.cellblanc{
  
  background-color: #ffffff ;
  color: #3f3f3f;
  align-items: center;
  text-align: center;
  align-content: center;
  width: 50%;
  padding: 5px;
 
}

.textviolet{
  
  color: #ae296d ;
  font-weight: bolder;

}

.textorange{
  color: #eb823d ;
  font-weight: bolder;
  vertical-align: middle;
}


//Page management
.containercol {
  display: flex; 
  flex-direction: column;
  flex-wrap:nowrap;
  //border: 3px red solid;
}

//Page management
.containercol2 {
  display: flex; 
  flex-direction: column;
  flex-wrap:nowrap;
  padding-left: 20px;
  background-color: white;
  //border: 3px red solid;
}
.containerrow {
  display: flex; 
  flex-direction: row;
  flex-wrap:nowrap;
  //border: 3px green solid;
  //background-color: $lightGrey;
}
//Form for ARR
.ARRform {
  position: relative;
  color: $flashyGreen;
  margin-left: 10px;
  padding: 10px;
  //border-style: solid;
 // border-color: $flashyGreen;
  background-color: $tesxtcolor;
  width: 300px;

  .title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: left;
    .flag-icon {
      margin-right: 30px;
      //border: 1px;
     // border-style: solid;
     // border-color: $flashyGreen;
    }
  }
  .button-group button{
    margin-top:10px;
    margin-bottom:10px;
    //color:$flashyGreen;
    border: 1px;
    border-style: solid;
    border-color: $flashyGreen;
   // background-color:$darkBlue;
    padding:5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }

 /* .button-group button:hover {
    background-color: $flashyGreen;
    color:$darkBlue;
  }
  .button-group button:active {
    background-color: $flashyGreen;
    color:$darkBlue;
  }
  .button-group button:focus {
  background-color: $flashyGreen;
  color:$darkBlue;
    }*/

  .icon {
    color: $flashyGreen;
    size: 20px;
  }
  .standard {
  font-weight: bold;
  font-size: 20px;
    }
  .selector {
  margin-left: 10px;
  font-size:15px;
  color: $darkBlue;  
  width: 50px;
  }
}

//slider
.slider-label {
  font-size: 15px;   
  font-weight: bold;
}

.custom-slider{
width: 220px;
  .ngx-slider {
    .ngx-slider-pointer {
    background-color:$flashyGreen ;
    }
    .ngx-slider-bubble {
      color: $darkGrey ;   
      font-size:14px;
    }
    .ngx-slider-bar {
      background-color: $darkBlue ;   
    }
    .ngx-slider-selection {
      background: $flashyGreen;
    }
    .ngx-slider-tick {
      color: darkGrey;
        .ngx-slider-tick-value{
          font-size: 13px;
        }
        .ngx-slider-tick-legend {
          size: 13px;
        }
    }
  }
}

//card
.card1 {
  position:relative;
  left:2%;
  top: 5%;
  //background-color:$lightGrey;
  color: $darkBlue;
  .flex-column {
    display: flex;
    flex-direction: column;
     div {
      flex: 50%;
      padding: 10px;
    }
  }
   div {
    flex: 20%;
    border-radius: 10px;
    padding: 10px;
  }
   .outlook {
    color: black;
    font-size: 20px;
    font-weight: bold;
    background: rgba(0,0,0,0.1);
  }
   .spread {
    background: $darkBlue;
    color: $flashyGreen;
    font-size: 25px;
    margin-bottom:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .FTP {
    background: $flashyGreen;
    color: $darkBlue;
    font-size: 25px;
    margin-bottom:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .value {
    background: $darkGrey;
    color: $darkBlue;
    font-size: 25px;
    margin-bottom:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card2 {
  position:relative;
  left: 6%;
  top: 5%;
}

.graph {
  position:relative;
 
  //background-color: $darkBlue;
  width: 800px
 }

.margin10px {
  margin-bottom:10px;
}
//toggle button
mat-button-toggle{
  background-color:$tesxtcolor !important;
  color: $flashyGreen !important;
}
/*mat-button-toggle:hover {
  background-color: $flashyGreen !important;
  color: $darkBlue !important;
  border-color: none !important;
}
.mat-button-toggle-checked {
  background-color: $flashyGreen !important;
  color: $darkBlue !important;
}
.mat-button-toggle-input {
  background-color: none !important;
}*/

.mat-spinner {
  ::ng-deep circle {
      stroke: $flashyGreen;
  }
}

.page-container
{
 width: 100%;
 height: 100%;
 background-size: 200% 200%;
 background: linear-gradient(45deg, #eb823dc0, #c85a51c0, #ae296dc0);
 
 animation: Gradient 10s ease infinite;
}