<body>
    <table class = "ARRform elevated-block mat-elevation-z2 ">
            <thead class = "title">
                <tr>
                        <span class ="flag-icon {{getFlag()}}"></span>
                        <label>{{ARRindex}}</label>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <div class="button-group">
                        <button (click)="getCurrency('EUR')">EUR</button>
                        <button (click)="getCurrency('GBP')">GBP</button>
                        <button (click)="getCurrency('USD')">USD</button>
                        <button (click)="getCurrency('CHF')">CHF</button>
                        <button (click)="getCurrency('JPY')">JPY</button>    
                    </div>   
                </tr>
                <tr class="slider-label">
                    <label>Principal</label>
                </tr>                
            </tbody>
    </table>
</body>