.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
   
    width: 100%;
    height: 100%;
    background-size: 200% 200%;
    background: linear-gradient(45deg, #eb823d, #c85a51, #ae296d);

	animation: Gradient 10s ease infinite;
}

.home-title {
    justify-content: center;
    align-items: center;
    align-self: center;
    color: white;
    background: linear-gradient(45deg, #eb823d, #c85a51, #ae296d);
    background-size: 200% 200%;
    width: 100%;
    height: 100%;
	animation: Gradient 10s ease infinite;

    .home-title-content {
        box-sizing: border-box;
       
        margin: auto;
   

        h1 {
            width: 50px;
        }
    }
}

.home-intro {
    box-sizing: border-box;
    width: 100%;
 

    pre {
        padding: 30px;
        overflow-x: auto;
    }
}

.home-list {
    
 
    align-self: center;
    width: 100%;
    max-width: 960px;
    align-items: center;



    .home-list-grid {
        display: flex;
        flex-wrap: wrap;
        

        .mat-card {
            width: 210px;
            margin: 20px 10px;
            cursor: pointer;
            padding: 28px 0;
        }
    }
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}