
//body {
  //background-image: url("Background_image1.png");
 // background-color: $lightGrey;
//}
$tesxtcolor: white;
$flashyGreen: #ae296d;
$lightGrey:#D0D1D3;
$darkGrey: #898D90;
$darkBlue: #eb823d;
$flashyRed:#DD1C1A;


.ResTable{
  position: relative;
  margin-left: 10px;
  padding: 0px;
  //border-style: solid;
 // border-color: $flashyGreen;
 background-color: white;
  width: 300px;
  //border-style: solid;
 // border-color: $flashyGreen;
 background-color: white;
  width: 300px;
}
.cellviolet{
  background-color: #ae296d ;
}

.cellorange{
  background-color: #eb823d ;
}

//Page management
.containercol {
  display: flex; 
  flex-direction: column;
  flex-wrap:nowrap;
  //border: 3px red solid;
}
.containerrow {
  display: flex; 
  flex-direction: row;
  flex-wrap:nowrap;
  padding: 10px;
  //border: 3px green solid;
  //background-color: $lightGrey;
}
//Form for ARR
.ARRform {
  position: relative;
  margin-left: 10px;

  //border-style: solid;
 // border-color: $flashyGreen;
 background-color: white;
  width: 300px;

  .title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    .flag-icon {
      margin-right: 30px;
      //border: 1px;
     // border-style: solid;
     // border-color: $flashyGreen;
    }
  }
  

  .icon {
    color: $flashyGreen;
    size: 20px;
  }
  .standard {
  font-weight: bold;
  font-size: 20px;
    }
  .selector {
  margin-left: 10px;
  font-size:15px;
  color: $darkBlue;  
  width: 50px;
  }
}

//slider
.slider-label {
  font-size: 15px;   
  font-weight: bold;
}

.custom-slider{
width: 220px;
padding: 10px;
 /deep/ .ngx-slider {
    .ngx-slider-pointer {
    background-color:$flashyGreen ;
    }
    /deep/  .ngx-slider-bubble {
      color: black ;   
      font-size:14px;
    }
    /deep/  .ngx-slider-bar {
      background-color: $lightGrey ;   
    }
    /deep/  .ngx-slider-selection {
      background: $flashyGreen;
    }
    /deep/  .ngx-slider-tick {
      color: lightGrey;
        .ngx-slider-tick-value{
          font-size: 13px;
        }
        .ngx-slider-tick-legend {
          size: 13px;
        }
    }
  }
}





//card
.card1 {
  position: relative;;
  left:5%;
  //background-color:$lightGrey;
  color: $darkBlue;
  .flex-column {
    display: flex;
    flex-direction: column;
    padding: 10px;
     div {
      flex: 50%;
      padding: 10px;
    }
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    padding: 10px;
     div {
      flex: 50%;
      padding: 10px;
    }
  }
   div {
    flex: 20%;
    border-radius: 10px;
    padding: 10px;
  }
   .outlook {
    color: black;
    font-size: 20px;
    font-weight: bold;
    background: rgba(0,0,0,0.1);
  }
   .spread {
    background: $darkBlue;
    color: $flashyGreen;
    font-size: 15px;
    margin-bottom:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .FTP {
    background: $flashyGreen;
    color: $darkBlue;
    font-size: 15px;
    margin-bottom:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .value {
    background: $darkGrey;
    color: $darkBlue;
    font-size: 15px;
    margin-bottom:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card2 {
  position:absolute;
  left:65%;
  top: 5%;
}
.graph {
 position:relative;
 top:5%; 
 left:5%;
 //background-color: $darkBlue;
 width: 700px
}
.mat-tab-label {
  color:$flashyRed;
  background-color:$darkBlue;
}
.mat-tab-label:active {
  background-color: $darkBlue;
  color: $flashyRed;
}
.mat-tab-label.selected {
  background-color: $darkBlue;
  color: $flashyRed;
}
.margin10px {
  margin-bottom:10px;
}
//toggle button
mat-button-toggle{
  background-color:$darkBlue !important;
  color: $flashyGreen !important;
}
mat-button-toggle:hover {
  background-color: $flashyGreen !important;
  color: $darkBlue !important;
  border-color: none !important;
}
.mat-button-toggle-checked {
  background-color: $flashyGreen !important;
  color: $darkBlue !important;
}
.mat-button-toggle-input {
  background-color: none !important;
}