
    <div class="containerrow">
        <div>
        <table class = "ARRform elevated-block mat-elevation-z2">
                <thead class = "title">
                    <tr>
                            <span class ="flag-icon {{ARRindexFlag}}"></span>
                            <label>{{ARRindex}}</label>
                    </tr>
                </thead>
                <tbody>
                    <tr style="padding:10px;">
                        <label>{{currencySymbol}} {{originalDeal.balance | number:'4.0-0'}}</label>
                    </tr>

                    <tr style="padding:10px;" class="slider-label">
                        <label>Spread</label>
                    </tr>  
                    <tr>
                        <div class="custom-slider">
                            <ngx-slider   [options]="opt_spread" [(ngModel)]="breakEvenForm" (click)="ComputeARR()"></ngx-slider>
                        </div>
                    </tr>
                    <tr class="slider-label">
                        <label>LookBack</label>
                    </tr>  
                    <tr>
                        <div class="custom-slider">
                            <ngx-slider [options]="opt_ARR" [(ngModel)]="lookback" (click)="ComputeARRFull()"></ngx-slider>
                        </div>
                    </tr>
                    <tr class="slider-label">
                        <label>Lockout</label>
                    </tr>  
                    <tr>
                        <div class="custom-slider margin10px">
                            <ngx-slider [options]="opt_ARR" [(ngModel)]="lockout" (click)="ComputeARRFull()"></ngx-slider>
                        </div>
                    </tr> 
                    <tr>
                        <mat-button-toggle-group [(ngModel)]="interestMethod" (click)="ComputeARRFull()">
                            <mat-button-toggle value="RFRAVRSimple">Simple</mat-button-toggle>
                            <mat-button-toggle value="RFRAVRCompounding">Compounding</mat-button-toggle>
                        </mat-button-toggle-group>  
                    </tr>   
                    <tr>
                            <mat-button-toggle-group [(ngModel)]="basis" (click)="ComputeARRFull()">
                                <mat-button-toggle value="Exact/365">365</mat-button-toggle>
                                <mat-button-toggle value="Exact/360">360</mat-button-toggle>
                                <mat-button-toggle value="Exact/Exact">ACT</mat-button-toggle>
                            </mat-button-toggle-group>    
                    </tr>                       
                </tbody>
        </table>
    </div>
    <div>
        <div class="containerrow">
            <div class="containercol">
                <div> <!-- resultat -->
                    <table class = "ResTable elevated-block mat-elevation-z2">
                        <tr class="cellviolet" colspan="2"><td>SPREAD</td></tr>
                        <tr><td class="cellorange">SPREAD LIBOR</td><td>SPREAD LIBOR/</td></tr>
                        <tr><td>BREAK EVEN</td><td>SPREAD LIBOR/</td></tr>
                    </table>
                </div>
                <div>2</div>
            </div>
            <div class="containercol">
                <div>1</div>
                <div>2</div>
            </div>
        </div>


    </div>     
 

    </div>
