


.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
}
.column {
    display: flex;
    flex-direction: column;
}

:host {
    display: flex;
    flex-direction: column;
}

.uxg-flex-layout{
    display: flex;
    .uxg-nav-list {
    min-width: 270px;
    min-height: 900px;
    border-left-color: transparent;
    a[mat-list-item]{
      &:hover{
      background-color: #FAFAFA
      }
    }
    .selected{
      border-left: 5px solid #694ED6;
      background-color: #FAFAFA
    }
  
    div[mat-line]{
  
    .uxg-flex-layout{
    justify-content: space-between
    }
  }
  
  .testcl{
    background-color: #FAFAFA
    }
  


  }
  
  .uxg-flex-header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  
  }
  .uxg-display button {
    margin-bottom: 0
  }
  button {
    margin: 30px 0; 
    display: flex;
    align-items: center;
    justify-content: center
  }
  }

  
  mat-list{
    height: auto;
    width: 270px;
    border-right: 1px solid #eaeaea;
    padding: 0;
    cursor: default;
    mat-list-item {
    padding: 0;
  
  .uxg-subtitle-1 {
    margin: 0
  }
  .uxg-subtitle-2 {
    margin: 0
  }
  .uxg-subtitle-3 {
    margin: 0
  }
  .uxg-body-3 {
    margin:0
  }
    }
  }
  .uxg-display{
    width:100%;
    padding: 0 20px;
    mat-card {
      margin: auto;
      margin-bottom: 40px;
    }
    button{
      margin: auto;
      margin-bottom: 40px;
    }
    table{
      width: 100%;
      margin-top: 30px;
      tr{
        text-align: center
      }
    }
  }
  
  
  .uxg-initial-page-layout {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    .uxg-h5 {
      margin: 0 0 30px 0; 
    }
    .uxg-display-6{
    margin: 30px 0 0 0
    }
    .uxg-icon-initial-page {
    font-size: 50px
    }
  }
  
  
  .uxg-block-layout{
    display: block
  }

  .ratelist-table{
    width: 400px;
    .optional-table-button{
      margin: 5px;
    }
  
    .optional-header-button{
      margin-right: 10px;
    }
  }
  
  